---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/wedding_rings_icon_144595.ico" type="image/x-icon" />
		<meta name="generator" content={Astro.generator} />
		<!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://invitacion-a-mi-boda.vercel.app/" />
    <meta property="og:title" content="Invitación a nuestro Enlace Matrimonial" />
    <meta
      property="og:description"
      content="Esperamos contar con tu presencia. ¡No faltes!"
    />
    <meta property="og:image" content="/images/couple.jpg" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://invitacion-a-mi-boda.vercel.app/" />
    <meta name="twitter:title" content="Invitación a nuestro Enlace Matrimonial" />
    <meta
      name="twitter:description"
      content="Esperamos contar con tu presencia. ¡No faltes!"
    />
    <meta name="twitter:image" content="/images/couple.jpg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body{
		background-image: url('/images/fondo.webp');
		height: 100dvh;
		background-position: center;
		object-position: center;
		background-size: cover;
		overflow: hidden;
	}
</style>
